<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASCII Art Generator</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>ASCII Art Generator</h1>
    <form id="asciiForm" action="/ascii-art" method="POST">
        <label for="text">Text:</label><br>
        <textarea id="text" name="text" rows="10" cols="30" placeholder="Enter text here..."></textarea><br><br>
        <label for="banner">Banner Style:</label><br>
        <select id="banner" name="banner">
            <option value="standard">Standard</option>
            <option value="shadow">Shadow</option>
            <option value="thinkertoy">Thinkertoy</option>
        </select><br><br>
        <input type="submit" value="Generate">
    </form>
</body>
<script src="/static/js/scripts.js" defer></script>
</html>
